In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [5]:
  #### imort libraries ####
import pandas as pd 
from pandas.core.frame import DataFrame 
import re #regular expretion    
import nltk  # natural language processing
nltk.download("stopwords")
from nltk.corpus import stopwords
from nltk.stem.porter import *
  #sentement analysis 
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import string , spacy
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English

# Create our list of punctuation marks
punctuations = string.punctuation

# Create our list of stopwords
nlp = spacy.load('en_core_web_sm')
stop_words = spacy.lang.en.stop_words.STOP_WORDS


from nltk.stem import WordNetLemmatizer

stemmer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
reader=pd.read_csv('/content/gdrive/MyDrive/Bitcoin_tweets.csv')
reader

        Unnamed: 0                 date  ...               source  is_retweet
0            87838  2021-02-05 10:53:00  ...   Twitter for iPhone       False
1            87839  2021-02-05 10:54:00  ...   Twitter for iPhone       False
2            87840  2021-02-05 10:55:00  ...  Twitter for Android       False
3            87841  2021-02-05 10:56:00  ...  Twitter for Android       False
4            87842  2021-02-05 10:57:00  ...  Twitter for Android       False
...            ...                  ...  ...                  ...         ...
436482      524320  2021-12-06 06:08:00  ...  Twitter for Android       False
436483      524321  2021-12-06 06:09:00  ...  Twitter for Android       False
436484      524322  2021-12-06 06:10:00  ...  Twitter for Android       False
436485      524323  2021-12-06 06:11:00  ...  Twitter for Android       False
436486      524324  2021-12-06 06:12:00  ...  Twitter for Android       False

[436487 rows x 25 columns]

In [7]:
btc=reader.loc[:,["date","text","user_location","user_description","user_followers","user_friends"]]
btc

                       date  ... user_friends
0       2021-02-05 10:53:00  ...        123.0
1       2021-02-05 10:54:00  ...        123.0
2       2021-02-05 10:55:00  ...         52.0
3       2021-02-05 10:56:00  ...         52.0
4       2021-02-05 10:57:00  ...         52.0
...                     ...  ...          ...
436482  2021-12-06 06:08:00  ...          6.0
436483  2021-12-06 06:09:00  ...          6.0
436484  2021-12-06 06:10:00  ...          6.0
436485  2021-12-06 06:11:00  ...          6.0
436486  2021-12-06 06:12:00  ...          6.0

[436487 rows x 6 columns]

In [8]:
#from sklearn.model_selection import train_test_split 
#X_train, X_test, y_train, y_test = train_test_split(reader, train_size=250000, test_size=20000)
import pandas  as pd 
df=pd.DataFrame(reader)
df.sample(n=300000)

        Unnamed: 0                 date  ...                 source  is_retweet
377577      465415  2021-10-26 08:23:00  ...     Twitter for iPhone       False
107824      195662  2021-04-21 13:16:00  ...        Twitter Web App       False
267767      355605  2021-08-10 19:43:00  ...              TweetDeck       False
223636      311474  2021-07-11 04:12:00  ...  Cardanona Twitter App       False
379305      467143  2021-10-27 13:11:00  ...    Twitter for Android       False
...            ...                  ...  ...                    ...         ...
73934       161772  2021-03-28 21:56:00  ...    Twitter for Android       False
272814      360652  2021-08-14 12:20:00  ...              TweetDeck       False
297769      385607  2021-08-31 20:15:00  ...     Twitter for iPhone       False
422822      510660  2021-11-26 18:28:00  ...    Twitter for Android       False
366542      454380  2021-10-18 16:28:00  ...              Planagram       False

[300000 rows x 25 columns]

In [9]:
reader.shape

(436487, 25)

In [10]:
############ \Drop Emoji from tweets ###########
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642"
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
        "]+", flags = re.UNICODE)
    #print(regrex_pattern)
    return regrex_pattern.sub(r'', text)
    


reader['text'] = reader['text'].apply(deEmojify) 
reader

        Unnamed: 0                 date  ...               source  is_retweet
0            87838  2021-02-05 10:53:00  ...   Twitter for iPhone       False
1            87839  2021-02-05 10:54:00  ...   Twitter for iPhone       False
2            87840  2021-02-05 10:55:00  ...  Twitter for Android       False
3            87841  2021-02-05 10:56:00  ...  Twitter for Android       False
4            87842  2021-02-05 10:57:00  ...  Twitter for Android       False
...            ...                  ...  ...                  ...         ...
436482      524320  2021-12-06 06:08:00  ...  Twitter for Android       False
436483      524321  2021-12-06 06:09:00  ...  Twitter for Android       False
436484      524322  2021-12-06 06:10:00  ...  Twitter for Android       False
436485      524323  2021-12-06 06:11:00  ...  Twitter for Android       False
436486      524324  2021-12-06 06:12:00  ...  Twitter for Android       False

[436487 rows x 25 columns]

In [11]:
reader.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436487 entries, 0 to 436486
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        436487 non-null  int64
 1   date              436487 non-null  object
 2   Open_x            436487 non-null  float64
 3   High_x            436487 non-null  float64
 4   Low_x             436487 non-null  float64
 5   Close_x           436487 non-null  float64
 6   Volume_x          436487 non-null  int64
 7   Unnamed: 0.1      436487 non-null  float64
 8   Open_y            436487 non-null  float64
 9   High_y            436487 non-null  float64
 10  Low_y             436487 non-null  float64
 11  Close_y           436487 non-null  float64
 12  Volume_y          436487 non-null  float64
 13  user_name         436487 non-null  object
 14  user_location     436487 non-null  object
 15  user_description  436487 non-null  object
 16  user_created      436487 non-null  object
 17  user_followers    436487 non-null  float64
 18  user_friends      436487 non-null  float64
 19  user_favourites   436487 non-null  float64
 20  user_verified     436487 non-null  bool
 21  text              436487 non-null  object
 22  hashtags          436487 non-null  object
 23  source            436487 non-null  object
 24  is_retweet        436487 non-null  bool
dtypes: bool(2), float64(13), int64(2), object(8)
memory usage: 77.4+ MB

In [12]:
features = reader.iloc[:, 21].values## text 
labels = reader.iloc[:, 5].values ## y : 1

In [13]:
labels

array([37389.76, 37380.  , 37425.34, ..., 48708.85, 48696.41, 48656.86])

In [14]:
import nltk 
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [15]:
processed_features = []

for sentence in range(0, len(features)):
    # Remove all the special characters
    processed_feature = re.sub(r'\W', ' ', str(features[sentence]))
    #remove rul: 
    processed_feature = re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',processed_feature)
    # remove all single characters
    processed_feature= re.sub(r'\s+[a-zA-Z]\s+', ' ', processed_feature)

    # Remove single characters from the start
    processed_feature = re.sub(r'\^[a-zA-Z]\s+', ' ', processed_feature) 

    # Substituting multiple spaces with single space
    processed_feature = re.sub(r'\s+', ' ', processed_feature, flags=re.I)

    # Removing prefixed 'b'
    processed_feature = re.sub(r'#([^\s]+)', r'\1', processed_feature)

    # Converting to Lowercase
    processed_feature = processed_feature.lower()
    # Lemmatization
    processed_feature = processed_feature.split()
    #processed_feature = [ word for word in processed_feature if word not in stop_words and word not in punctuations ]
 
    processed_feature = [stemmer.lemmatize(word) for word in processed_feature]
    processed_feature = ' '.join(processed_feature)
    
    processed_features.append(processed_feature)

In [16]:
type(processed_feature)

str

"\ndef remove_stop_words(processed_features):\n    removed_stop_words = []\n    for review in processed_features:\n        removed_stop_words.append(\n            ' '.join([word for word in review.split()  if word not in stop_words]))\n    return removed_stop_words\n\n    "

In [ ]:
#remove_stop_words(processed_features)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer (max_features=200, min_df=7, max_df=0.8, stop_words=stopwords.words('english'))
processed_features = vectorizer.fit_transform(processed_features).toarray()

In [18]:
processed_features

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [19]:
processed_features.shape

(436487, 200)

In [16]:
pd.DataFrame(processed_features)[0]

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
436482    0.0
436483    0.0
436484    0.0
436485    0.0
436486    0.0
Name: 0, Length: 436487, dtype: float64

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(processed_features, labels, test_size=0.2, random_state=0)

#Ridge :

In [21]:
# Alpha by default is 1.0
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(X_train, y_train)
print('Train score: {}'.format(ridge.score(X_train, y_train)))
print('Test score: {}'.format(ridge.score(X_test,y_test)))

Train score: 0.5651898547206885
Test score: 0.5637648293277299

In [19]:
# Use GridSearchCV to find the best alpha
from sklearn.model_selection import GridSearchCV

ridge = Ridge()
param_grid = {'alpha':[0.001,0.01, 0.1,1]}

grid_search = GridSearchCV(ridge, param_grid, cv = 5)
grid_search.fit(X_train, y_train)

#use gridsearch to get the best parameters, alpha=0.001
print('Best parameters{}'.format(grid_search.best_params_))
print('Best score {:.2f}'.format(grid_search.best_score_))

Best parameters{'alpha': 0.1}
Best score 0.56

#LASSO

In [23]:
import numpy as np
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
lasso = Lasso(max_iter = 100000)
lasso.fit(X_train, y_train)
print('Train score: {}'.format(lasso.score(X_train, y_train)))
print('Test score: {}'.format(lasso.score(X_test,y_test)))
print('Number of features used: {}'.format(np.sum(lasso.coef_ != 0)))

#### ROWS : 300000

Train score: 0.5634110985588219
Test score: 0.5621997440818722
Number of features used: 114

In [ ]:
# Use GridSearchCV to find the best alpha
from sklearn.model_selection import GridSearchCV
lasso = Lasso(max_iter = 100000)
param_grid = {'alpha':[0.017, 0.1, 0.01, 0.026 , 1]}

grid_search = GridSearchCV(lasso, param_grid, cv = 5)
grid_search.fit(X_train, y_train)

print('Best parameters{}'.format(grid_search.best_params_))
print('Best score {}'.format(grid_search.best_score_))

# SVR WITH LINEAR - NON LINEAR

#Linear Support Vector Regression.

Similar to SVR with parameter kernel=’linear’, but implemented in terms of liblinear rather than libsvm, so it has more flexibility in the choice of penalties and loss functions and should scale better to large numbers of samples.

This class supports both dense and sparse input.

In [22]:
from sklearn.svm import LinearSVR
lsvr = LinearSVR()
lsvr.fit(X_train, y_train)
print('Train score: {}'.format(lsvr.score(X_train, y_train)))
print('Test score: {}\n'.format(lsvr.score(X_test,y_test)))

Train score: 0.4146328960975406
Test score: 0.41194896273022374

In [ ]:
############################################################Execution failed 
#from sklearn.svm import SVR
#svr = SVR(kernel='linear')
#svr.fit(X_train, y_train)
#print('Train score: {}'.format(svr.score(X_train, y_train)))
#print('Test score: {}\n'.format(svr.score(X_test,y_test)))