In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
  #### imort libraries ####
import pandas as pd 
from pandas.core.frame import DataFrame 
import re #regular expretion    
import nltk  # natural language processing
nltk.download("stopwords")
from nltk.corpus import stopwords
from nltk.stem.porter import *
  #sentement analysis 
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import string , spacy
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English

# Create our list of punctuation marks
punctuations = string.punctuation

# Create our list of stopwords
nlp = spacy.load('en_core_web_sm')
stop_words = spacy.lang.en.stop_words.STOP_WORDS


from nltk.stem import WordNetLemmatizer

stemmer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [3]:
reader =pd.read_csv('/content/drive/MyDrive/nlp/Bitcoin_tweets.csv')
reader

        Unnamed: 0                 date  ...               source  is_retweet
0            87838  2021-02-05 10:53:00  ...   Twitter for iPhone       False
1            87839  2021-02-05 10:54:00  ...   Twitter for iPhone       False
2            87840  2021-02-05 10:55:00  ...  Twitter for Android       False
3            87841  2021-02-05 10:56:00  ...  Twitter for Android       False
4            87842  2021-02-05 10:57:00  ...  Twitter for Android       False
...            ...                  ...  ...                  ...         ...
436482      524320  2021-12-06 06:08:00  ...  Twitter for Android       False
436483      524321  2021-12-06 06:09:00  ...  Twitter for Android       False
436484      524322  2021-12-06 06:10:00  ...  Twitter for Android       False
436485      524323  2021-12-06 06:11:00  ...  Twitter for Android       False
436486      524324  2021-12-06 06:12:00  ...  Twitter for Android       False

[436487 rows x 25 columns]

In [4]:
btc=reader.loc[:,["date","text","user_location","user_description","user_followers","user_friends"]]

In [5]:
reader['Price Change']=reader['Close_y'].diff(periods=1)
reader.head()

   Unnamed: 0                 date  ...  is_retweet  Price Change
0       87838  2021-02-05 10:53:00  ...       False           NaN
1       87839  2021-02-05 10:54:00  ...       False         -9.76
2       87840  2021-02-05 10:55:00  ...       False         45.34
3       87841  2021-02-05 10:56:00  ...       False         11.16
4       87842  2021-02-05 10:57:00  ...       False         -0.24

[5 rows x 26 columns]

In [6]:
reader = reader[reader['Price Change'].notna()]

In [7]:
def getAnalysis(score):
    if score < 0:
        return '0'
    
    else:
        return '1'
reader['Sentiment'] = reader['Price Change'].apply(getAnalysis )
reader.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   Unnamed: 0                 date  ...  Price Change  Sentiment
1       87839  2021-02-05 10:54:00  ...         -9.76          0
2       87840  2021-02-05 10:55:00  ...         45.34          1
3       87841  2021-02-05 10:56:00  ...         11.16          1
4       87842  2021-02-05 10:57:00  ...         -0.24          0
5       87843  2021-02-05 10:58:00  ...        -19.80          0

[5 rows x 27 columns]

In [8]:
reader.Sentiment.value_counts()

0    219186
1    217300
Name: Sentiment, dtype: int64

In [9]:
import pandas as pd 
reader=pd.DataFrame(reader)
reader=reader.sample(n=100000)

In [10]:
reader.shape

(100000, 27)

In [11]:
############ \Drop Emoji from tweets ###########
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642"
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
        "]+", flags = re.UNICODE)
    #print(regrex_pattern)
    return regrex_pattern.sub(r'', text)
    


reader['text'] = reader['text'].apply(deEmojify) 
reader

        Unnamed: 0                 date  ...  Price Change  Sentiment
198626      286464  2021-06-23 19:22:00  ...        -33.40          0
116163      204001  2021-04-27 12:59:00  ...         26.15          1
49818       137656  2021-03-12 04:00:00  ...         85.75          1
414108      501946  2021-11-20 17:14:00  ...         20.65          1
99579       187417  2021-04-15 17:21:00  ...         67.48          1
...            ...                  ...  ...           ...        ...
121707      209545  2021-05-01 09:23:00  ...         49.02          1
127321      215159  2021-05-05 06:57:00  ...         23.31          1
51868       139706  2021-03-13 14:10:00  ...         70.12          1
287886      375724  2021-08-24 23:32:00  ...        -29.04          0
337807      425645  2021-09-28 15:33:00  ...         -7.68          0

[100000 rows x 27 columns]

In [12]:
features = reader.iloc[:, 21].values## text 
labels = reader.iloc[:, 26].values ## y : 1

In [13]:
labels

array(['0', '1', '1', ..., '1', '0', '0'], dtype=object)

In [14]:
import nltk 
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [15]:
processed_features = []

for sentence in range(0, len(features)):
    # Remove all the special characters
    processed_feature = re.sub(r'\W', ' ', str(features[sentence]))
    #remove rul: 
    processed_feature = re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',processed_feature)
    # remove all single characters
    processed_feature= re.sub(r'\s+[a-zA-Z]\s+', ' ', processed_feature)

    # Remove single characters from the start
    processed_feature = re.sub(r'\^[a-zA-Z]\s+', ' ', processed_feature) 

    # Substituting multiple spaces with single space
    processed_feature = re.sub(r'\s+', ' ', processed_feature, flags=re.I)

    # Removing prefixed 'b'
    processed_feature = re.sub(r'#([^\s]+)', r'\1', processed_feature)

    # Converting to Lowercase
    processed_feature = processed_feature.lower()
    # Lemmatization
    processed_feature = processed_feature.split()
    processed_feature = [ word for word in processed_feature if word not in stop_words and word not in punctuations ]
 
    processed_feature = [stemmer.lemmatize(word) for word in processed_feature]
    processed_feature = ' '.join(processed_feature)
    
    processed_features.append(processed_feature)

In [16]:
type(processed_feature)

str

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer (max_features=200, min_df=7, max_df=0.8, stop_words=stopwords.words('english'))
processed_features = vectorizer.fit_transform(processed_features).toarray()

In [18]:
processed_features

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [86]:
processed_features.shape

(100000, 200)

In [75]:
pd.DataFrame(processed_features)[0]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
99995    0.0
99996    0.0
99997    0.0
99998    0.0
99999    0.0
Name: 0, Length: 100000, dtype: float64

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(processed_features, labels, test_size=0.2, random_state=0)

In [89]:
''''
# SVR without kernel
from sklearn.svm import LinearSVR
lsvr = LinearSVR()
lsvr.fit(X_train, y_train)
print('Train score: {}'.format(lsvr.score(X_train, y_train)))
print('Test score: {}\n'.format(lsvr.score(X_test,y_test)))
'''

Train score: -0.7510059630433603
Test score: -0.782946815256865

In [20]:
from sklearn.linear_model import LogisticRegression
Classifier = LogisticRegression(random_state=0)
Classifier.fit(X_train, y_train)
print('Train score: {}'.format(Classifier.score(X_train, y_train)))
print('Test score: {}\n'.format(Classifier.score(X_test,y_test)))

### 51 % 
##  50 %

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

Train score: 0.51155
Test score: 0.5029

In [21]:
from sklearn.naive_bayes import GaussianNB
Gauss = GaussianNB()
Gauss.fit(X_train, y_train)
#Y_pred = model.predict(X_test, y_test)
#model_score = model.score(X_test, y_test)
print('Train score: {}'.format(Gauss.score(X_train, y_train)))
print('Test score: {}\n'.format(Gauss.score(X_test,y_test)))

Train score: 0.50815
Test score: 0.50725

In [22]:
from sklearn.neighbors import KNeighborsClassifier
NN = KNeighborsClassifier()
NN.fit(X_train,y_train)

print('Train score: {}'.format(NN.score(X_train, y_train)))
print('Test score: {}\n'.format(NN.score(X_test,y_test)))

Train score: 0.5689375
Test score: 0.5

In [ ]:
from sklearn import svm
C = 1.0 
svc = svm.SVC(kernel ='linear', C = 1).fit(X_train, y_train)
print('Train score: {}'.format(svc.score(X_train, y_train)))
print('Test score: {}\n'.format(svc.score(X_test,y_test)))


### train : 51% 
##  test   : 50 %

In [ ]:
from sklearn.svm import SVC
svc = SVC(kernel='linear')
svc.fit(X_train, y_train)
print('Train score: {}'.format(svc.score(X_train, y_train)))
print('Test score: {}\n'.format(svc.score(X_test,y_test)))

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
clf3 = RandomForestClassifier(max_depth=2, random_state=0)
clf3.fit(X_train,y_train )

print('Accuracy of Decision Tree classifier on training set: {:.2f}'
    .format(clf3.score(X_train, y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
    .format(clf3.score(X_test, y_test)))

Accuracy of Decision Tree classifier on training set: 0.51
Accuracy of Decision Tree classifier on test set: 0.50

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
clf3 = RandomForestClassifier(max_depth=4, random_state=0)
clf3.fit(X_train,y_train )

print('Accuracy of Decision Tree classifier on training set: {:.2f}'
    .format(clf3.score(X_train, y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
    .format(clf3.score(X_test, y_test)))

Accuracy of Decision Tree classifier on training set: 0.52
Accuracy of Decision Tree classifier on test set: 0.50

#DROW